<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Cadastro de Usuários</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="/js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/dataTables.bootstrap.min.js" th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<link href="/css/dataTables.bootstrap.min.css" th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"  />
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"  />

</head>
<body>
<form action="#" th:action="@{/adduser}" th:object="${user}"
							method="post">
							<label for="name">Nome</label> <input type="text"
								th:field="*{name}" id="name" placeholder="Nome"
								class="form-control" aria-label="Small"> <span
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
							<label for="email">Email</label> <input type="text"
								th:field="*{email}" id="email" placeholder="Email"
								class="form-control" aria-label="Small"> <span
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
								
								
								<label for="telefone">Telefone</label> <input type="text"
								th:field="*{telefone}" id="telefone" placeholder="telefone"
								class="form-control" aria-label="Small"> <span
								th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span><br>
								
								
								
								<label for="celular">Telefone</label> <input type="text"
								th:field="*{celular}" id="celular" placeholder="celular"
								class="form-control" aria-label="Small"> <span
								th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></span><br>
								
								
								
							<input type="submit" value="Cadastra Usuário"
								class="btn btn-info btn-lg">
						</form>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
</body>
</html>